{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'needy/style.css' %}">

<div class="needy-container">
    <div class="needy-card text-center">

        <h3 class="mb-3">Delete Case</h3>
        <p>Are you sure you want to delete:</p>

        <h5 class="mb-4 text-warning">"{{ case.title }}"</h5>

        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-danger">Yes, Delete</button>
            <a href="{% url 'needy_profile' %}" class="btn btn-secondary ms-2">Cancel</a>
        </form>

    </div>
</div>

{% endblock %}