{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Needy Dashboard</title>
    <link rel="stylesheet" href="{% static 'needy/css/style.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to HopeBridge</h1>
        <nav>
            <h2><a href="{% url 'needy_home' %}">Home</a></h2>
            <h2><a href="{% url 'logout_needy' %}">Logout</a></h2>
        </nav>
    </header>

    <main>
      <section class="cards-container">
        <div class="card">
            <h2>Request Donation</h2>
            <p>Submit your donation request here.</p>
            <a href="{% url 'request_donation' %}"><button>Request Now</button></a>
        </div>
        <div class="card">
            <h2>My requests</h2>
            <p>View your submitted requests.</p>
            <a href="{% url 'my_requests' %}"><button>View Requests</button></a>
        </div>
        <div class="card">
            <h2>Profile</h2>
            <p>Update your profile information.</p>
            <a href="{% url 'needy_profile' %}"><button>Edit Profile</button></a>
        </div>
      </section>
        <section class="stats">
            <div class="card">
                <h2>Total Donations</h2>
                <p>Ksh.10,450</p>
            </div>
            <div class="card">
                <h2>Requests Pending</h2>
                <p>5</p>
            </div>
            <div class="card">
                <h2>Requests Fulfilled</h2>
                <p>20</p>
            </div>
        </section>

        <section class="actions">
            <h2>What you can do:</h2>
            <button>Request Help</button>
            <button>View Donations</button>
        </section>

      </main>

    <footer>
        <p>&copy; 2025 HopeBridge. All rights reserved.</p>
    </footer>
</body>
</html>