{% extends 'base.html' %}

{% block content %}
<h1>About HopeBridge</h1>
<p>HopeBridge is an online platform designed to bridge the gap between individuals facing difficult situations and donors who want to make a difference. Many families, students, and vulnerable groups struggle to access the support they need. HopeBridge provides a safe space where their cases can be shared, and donors can respond with kindness. Through transparency, empathy, and technology, we aim to make the process of giving easier, faster, and more impactful.</p>
{% endblock %}